body {
  font-size: 14px;
  line-height: 24px;
  color: black;
  font-weight: normal;
  font-family: "PT Sans Narrow";
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
}

.container {
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header.main-header,
footer.main-footer {
  background-color: black;
}

.main-navigation {
  background-color: black;
  float: left;
  width: 700px;
  min-height: 70px;
}

header .container {
  background: black;
}

.main-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  outline: 1px solid white;
  min-height: 70px;
  font-size: 0;
}

.main-navigation ul li {
  display: inline-block;
  outline: 1px solid white;
  vertical-align: top;
  font-size: 16px;
}

.main-navigation ul a {
  display: block;
  padding: 25px 20px;
  line-height: 20px;
  text-decoration: none;
  color: white;
}

header a:hover {
  background-color: #242424;
}

.login {
  min-height: 70px;
  width: 100px;
  float: right;
}

.login > * {
  outline: 1px solid yellow;
}

.login a {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  line-height: 20px;
  vertical-align: top;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.login a::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: red;
  left: 20px;
  top: 28px;
}

main {
  background-color: #f6f3f0;
  padding-top: 60px;
  padding-bottom: 50px;
}

main .container {
  background-color: #f6f3f0;
}

.main-title {
  margin-bottom: 25px;
}

main form {
  outline: 1px solid black;
  float: left;
  min-height: 570px;
  width: 220px;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  outline: 1px solid black;
  font-size: 0;
}

.breadcrumbs ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  outline: 1px solid black;

  line-height: 20px;
}

.breadcrumbs li a {
  padding-right: 40px;
  text-decoration: none;
  color: black;
}

.breadcrumbs li:not(:last-child) a::before {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid black;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  right: 20px;
  top: 5px;
}

.breadcrumbs li:not(:last-child) a::after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid black;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 5px;
  right: 15px;
}

.breadcrumbs li:last-child a {
  color: #999999;
}

.items-list-block {
  outline: 1px solid black;
  float: right;
  width: 700px;
  min-height: 595px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.items-list-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.items-list-block ul li {
  width: 220px;
  min-height: 285px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  background-color: white;
}

.items-list-block ul li:not(:nth-child(3n)) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.pages-block {
  clear: both;
  outline: 1px solid black;
  font-size: 0;
}

.pages-block a {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  outline: 1px solid black;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  padding-top: 15px;
  text-decoration: none;
  color: white;
  background-color: black;
  margin-right: 7px;
}

.pages-block a:hover {
  background-color: white;
  color: black;
}

.item-name {
  margin: 10px;
}

.item-block a {
  text-decoration: none;
  color: black;
}

.item-price {
  outline: 1px solid black;
  display: inline-block;
  height: 45px;
  width: 110px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  padding: 15px 0;
  margin-left: 10px;
}

a.buy {
  outline: 1px solid black;
  width: 80px;
  height: 45px;
  display: inline-block;
  vertical-align: top;
  color: white;
  background-color: black;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
}

a.buy:hover {
  background-color: white;
  color: black;
}

footer section {
  outline: 1px solid black;
  float: left;
}

section.contacts {
  min-height: 190px;
  width: 320px;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 34px;
}

a.find-us {
  color: black;
}

a.find-us:hover {
  text-decoration: none;
}

a.tel {
  text-decoration: none;
  color: black;
}

section.social {
  min-height: 190px;
  width: 140px;
  margin-left: 80px;

}

section.developed-by {
  min-height: 190px;
  width: 140px;
  margin-left: 260px;
}

/* Начало стилей для catalog-item.html */

section.item-photos {
  float: left;
  outline: 1px solid black;
  width: 460px;
  min-height: 670px;
}

.item-photos div {
  display: inline-block;
}

section.item-description {
  outline: 1px solid black;
  width: 390px;
  min-height: 505px;
  float: right;
}
