body {
  font-size: 14px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  min-width: 960px;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
  margin: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header.main-header {
  background-color: black;
}

.main-navigation {
  background-color: black;
  float: left;
  min-height: 70px;
}

header .container {
  background: black;
}

.main-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}

.main-navigation ul li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  position: relative;
}

.main-navigation > a {
  display: inline-block;
  vertical-align: top;
  height: 48px;
  padding: 0 20px;
  padding-top: 22px;
}

.main-navigation ul a {
  display: block;
  padding: 25px 20px;
  line-height: 20px;
  text-decoration: none;
  color: white;
}

.main-navigation ul .active::after {
  content: "";
  height: 4px;
  width: 55px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 20px;
}

header a:hover {
  background-color: #242424;
}

.login {
  min-height: 70px;
  width: 105px;
  float: right;
}

.login a {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  line-height: 20px;
  vertical-align: top;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.login a::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url("../img/spritesheet.png");
  background-position: -25px -97px;
  left: 20px;
  top: 28px;
}

main {
  background-image: url("../img/background.png");
  padding-top: 0px;
  padding-bottom: 50px;
}

main .container {
  background-image: inherit;
  padding-top: 50px;
}

.main-title {
  margin-bottom: 20px;
}

main form {
  float: left;
  min-height: 570px;
  width: 220px;
}

form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}

.producers label,
.items-groups label {
  display: block;
  padding-left: 45px;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 25px; 
  position: relative;
}

.producers .checkbox-indicator {
  position: absolute;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  border: 2px solid black;
  left: 0;
}

.filters label:hover {
  color: #663d15;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"]:checked + .checkbox-indicator::before,
input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #000000;
  top: 7px;
  left: 0px;
}

input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  left: 0;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: black;
  left: 5px;
  top: 5px;
}

.filters button {
  min-height: 45px;
  width: 110px;
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.filters button:hover {
  background-color: #663d15;
  color: white;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  font-size: 0;
}

.breadcrumbs ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs li a {
  padding-right: 40px;
  text-decoration: none;
  color: black;
}

.breadcrumbs li:not(:last-child) a::before {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid black;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  right: 20px;
  top: 4px;
}

.breadcrumbs li:not(:last-child) a::after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid black;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 4px;
  right: 15px;
}

.breadcrumbs li:last-child a {
  color: #999999;
  cursor: default;
}

.items-list-block {
  float: right;
  width: 700px;
  min-height: 595px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.items-list-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.items-list-block ul li {  /* .item-block */
  width: 220px;
  min-height: 285px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  background-color: white;
  position: relative;
  box-shadow: 1px 0px 10px 1px #9a9a9a;
}

.items-list-block ul li:not(:nth-child(3n)) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.pagination {
  clear: both;
  font-size: 0;
}

.pagination .page-number {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  padding-top: 15px;
  text-decoration: none;
  color: white;
  background-color: black;
  margin-right: 7px;
}

.pagination .active {
  background-color: white;
  color: black;
  cursor: default;
}

.pagination a:not(.active):hover {
  background-color: #663d15;
  color: white;
}

.item-name {
  margin: 10px;
}

.item-block a:first-child {
  text-decoration: none;
  color: black;
}

.item-price {
  display: inline-block;
  height: 45px;
  width: 110px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  padding: 15px 0;
  margin-left: 10px;
  font-size: 14px;
  background-color: #e5e5e5;
}

.buy {
  width: 80px;
  height: 45px;
  display: inline-block;
  vertical-align: top;
  color: white;
  background-color: black;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  font-size: 14px;
  text-decoration: none;
}

.buy:hover {
  background-color: #663d15;
}

.price-block {
  font-size: 0;
  position: absolute;
  bottom: 14px;
}

.buy-block {
  position: relative;
  left: -10px;
}

.main-footer {
  background-image: url("../img/footer-bg.png");
  box-shadow: inset 1px 35px 38px -9px rgba(0,0,0,0.75);
}

.main-footer section {
  float: left;
  color: white;
}

.main-footer .container {
}

section.contacts {
  min-height: 190px;
  width: 320px;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 34px;
}

a.find-us {
  color: white;
}

a.find-us:hover {
  text-decoration: none;
}

a.tel {
  text-decoration: none;
  color: white;
}

section.social {
  min-height: 190px;
  width: 140px;
  margin-left: 80px;
  text-align: center;
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 0;
}

.social p {
  font-size: 14px;
}


.social .sprite {
  display: inline-block;
  margin-right: 4px;
  width: 42px;
  height: 42px;
  vertical-align: top;
  background-color: black;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  transition: 0.5s;
}

.social-vk:hover {
  background-position: -156px -150px;
  background-color: white;
}

.social-fb:hover {
  background-position: -73px -16px;
  background-color: white;
}

.social-inst:hover {
  background-position: -139px -16px;
  background-color: white;
}

.social-vk {
  background-position: -156px -83px;
}

.social-fb {
  background-position: -10px -15px;
}

.social-inst {
  background-position: -82px -87px;
}

section.developed-by {
  min-height: 190px;
  width: 140px;
  margin-left: 260px;
  text-align: center;
  padding-top: 0px;
  box-sizing: border-box;
  padding-top: 50px;
}

.developed-by .academy {
  width: 140px;
  height: 43px;
  display: block;
  box-sizing: border-box;
  padding-top: 10px;
  color: white;
  background-color: black;
  text-decoration: none;
}

.developed-by .academy:hover {
  color: black;
  background-color: white;
}


/* Начало стилей для catalog-item.html */

section.item-photos {
  float: left;
  width: 460px;
  min-height: 670px;
}

.item-photos div {
  display: inline-block;
}

.item-photo:nth-child(3) {
  margin: 0 30px;
}

.item-description {
  width: 390px;
  min-height: 505px;
  float: right;
  position: relative;
  font-size: 0;
}

.item-description > * {
  font-size: 14px;
  line-height: 24px;
}

.article-id {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
}

.long-description {
  margin-top: 40px;
  margin-bottom: 35px;
}

.item-stuff {
  margin-top: 65px;
}

.item-stuff ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

.item-stuff li {
  position: relative;
}

.item-stuff li::before {
  content: "";
  width: 7px;
  height: 7px;
  background-color: black;
  position: absolute;
  left: -17px;
  transform: rotate(45deg);
  top: 7px;
}

.whats-in {
  font-size: 24px;
  line-height: 30px;
}

